@import "tailwindcss";

/* Colores personalizados del profesor convertidos a la sintaxis de Tailwind v4 */
@theme {
  /* Colores primarios */
  --color-primary-light: #6028D9;
  --color-primary: #4C1D95;
  --color-primary-dark: #2E1065;
  
  /* Colores secundarios */
  --color-secondary-light: #34D399; /* Verde claro */
  --color-secondary: #059669; /* Verde principal */
  --color-secondary-dark: #065F46; /* Verde oscuro */
}